/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@font-face {
    font-family: 'Buenard';
    src: url('/fonts/Buenard/Buenard-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Buenard';
    src: url('/fonts/Buenard/Buenard-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    font-family: 'Buenard', serif;
}